body{
    background-color: #FFEECC;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: center;
    color: white;
    background-color: #FEBBCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    font-size: 4rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 1rem 1rem;
    font-family: 'Nunito', sans-serif;
    border-radius: 50px;
}

h3 {
    font-size: 1rem;
    color: black;
}


#searchButton {
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FFDDCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border: brown;
    padding: 12px 20px;
}

#backButton{
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FFDDCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border: brown;
    padding: 12px 20px;
}

#clear{
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FFDDCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border: brown;
    padding: 12px 20px;
}

#showFavourites {
    position:absolute; 
    top:0; 
    right:0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    background-color: #FFCCCC;
    color: lightblue;
    margin: 3px;
    padding: 3px;
    border-radius: 50px;
    padding: 12px 20px;
}

#showFavouritesDetails {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    width: 180px;
    height: 350px;
}

#home{
    display: flex;
    font-weight: bold;
    color: #FEBBCC;
    text-decoration: none;
      
   }
   #home:hover{
   color:white;
   }


input{
    width:60%;
    margin-left: 7rem;
    padding: 12px 15px;
    border-radius: 50px;
    border: none;
    
}

h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    color: #A1CCD1;
    font-size: 2rem;
    cursor: pointer;
}

div {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img {
    cursor: pointer;
    width: 90%;
    padding: 10px;
}

#searchResults {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;
}

.ingredients {
    border-radius: 0;
    box-shadow: 0 0 8px gba(0,0,0,0.3);
    color: white;
    background-color: #FFCCCC;
    margin: 3px;
    padding: 3px;
    border-radius: 50px;
    padding: 12px 20px;

    &:focus {
        background-color: #FEBBCC;
        color: #FD8D14;
    }

}

#favourite {
    display: none;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    input {
        width: 50%;
    }
    #searchIngredients {
        padding: 50px;
    }
}
